<h1><font size="10px" color="#00e572">조형대학</font></h1>
<body style="background: url(/assets/pubbackground.jpg) no-repeat fixed; background-size: cover;" >
<div class="page-header" margin-top=px>
    <!-- nav bar 부분 -->
    <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="<%= asset_path 'stl.png' %>" alt="Logo">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- NAV -->
                            <li><a href="https://daedong2-jeongki-son.c9users.io/#HOME">HOME</a> </li>
                            <li><a href="https://daedong2-jeongki-son.c9users.io/#ABOUT">ABOUT </a> </li>
                            <li><a href="https://daedong2-jeongki-son.c9users.io/#FEATURES">LineUp</a></li>
                            <li><a href="https://daedong2-jeongki-son.c9users.io/#SCREENS">주점</a> </li>
                            <li><a href="https://daedong2-jeongki-son.c9users.io/#DOWNLOAD">Live 지도 </a> </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li><a href="https://daedong2-jeongki-son.c9users.io/home/pub">Detail한 주점 </a> </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container- -->
            </nav>
            </div>
            <!-- 여기까지 nav bar 부분 -->       
</div>

              <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'design.PNG' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">디자인학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>디학주점<br><br>
                            <strong>폐점시간 : </strong>오전 2시 00분<br>
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

             <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'doja.PNG' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">도자문화학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>도:틸다<br><br>
                            <strong>폐점시간 : </strong>오전 2시 00분<br>
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

  <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'gumgong.PNG' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">금속공예학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>할로윈<br><br>
                            <strong>폐점시간 : </strong>오전 2시 00분<br>
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

 <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'joye.PNG' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">조형예술학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>디스코<br><br>
                            <strong>폐점시간 : </strong>오전 2시 00분<br>
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>


</body>