    <!-- PRELOADER --> 
    <!-- PRELOADER -->
   <div class="spn_hol">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

 <!-- END PRELOADER -->

 <!-- =========================
     START ABOUT US SECTION
============================== -->
    <section class="header parallax home-parallax page" id="HOME">
        <h2></h2>
        <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="<%= asset_path 'stl.png' %>" alt="Logo">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- NAV -->
                            <li><a href="#HOME">HOME</a> </li>
                            <li><a href="#ABOUT">ABOUT </a> </li>
                            <li><a href="#DOWNLOAD">Live PR</a></li>
                            <li><a href="#FEATURES">Line Up</a></li>
                            <li><a href="#CONTACT">Live 지도 </a> </li>
                            <li><a href="#SCREENS">주점</a> </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container- -->
            </nav>

            <div class="container home-container">
                
                <div class="row">
                        <div class="home_text" style="text-align:center">
                            <!-- TITLE AND DESC -->
                            <!-- BUTTON -->
                                <a class="tuor btn wow fadeInRight" href="#ABOUT" style="font-size:50px"></a>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END HEADER SECTION -->




    <!-- 공사중 -->
    
    
     <!-- =========================
     START ABOUT US SECTION
============================== -->

 <!-- =========================
     START ABOUT US SECTION
============================== -->


    <sect1ion class="about page" id="ABOUT">

        <div class="about_phone">
             
                 <img src="<%= asset_path 'middleware.png' %>" alt="">
        </div>   

    
    <!-- 여기까지 공사중 -->


        <div class="video_area">
            <div class="container">
                <div class="row">
                    <div class="wow fadeInRightBig">
                        
                         <!-- VIDEO -->
                        <div class="video">
                            <h1>서울과기대 총학생회 축제홍보영상</h1>
                        <iframe style="facebook" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fseoultech.GSA%2Fvideos%2F966181553477139%2F&width=360&show_text=false&height=202&appId" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us -->





 <!-- =========================
     START TESTIMONIAL SECTION
============================== -->



    <!-- END TESTIMONIAL SECTION -->

    <section class="download page" id="DOWNLOAD">
        
    
        <div class="container">
            <div class="row" row=100>
                <div class="col-md-8 col-md-offset-2">
                    <div class="download_screen text-center wow fadeInUp" data-wow-duration="1s">
                    
                    
                         <h2><b>Live PR</b></h2>
                        <p> 실시간 홍보 </p>
                        <br><br>
                        <h1>REAL-TIME CHAT</h1>


                        <franeset>

                        <div id="chat_list"></div>
                        <% @posts.each do |p| %>
                            <p> <%= p.nickname %>
                            <p> <%= p.content %></p>
                        <% end %>
                        
                        </franeset>    
                        
                        
                        <textarea id="chat_nickname"></textarea>
                        <textarea id="chat_content"></textarea>
                        <a href="#" id="submit_msg">홍보하기</a>
                        
                        
                        
                        
                        
                      
                        <script>
          $(function() {
               var pusher = new Pusher('1027adb1b8bdf7461125', {
            encrypted: true
          });
          var channel = pusher.subscribe('onlyone');
          channel.bind('new_message', function(data) {
            var txt = data.message;
                      $("#chat_list").append("<p>"+txt+"</p>");
              });
          
              $("#submit_msg").click(function(){
              $.ajax({
                  data: {nickname: $("#chat_nickname").val()},
                  data: {content: $("#chat_content").val()},
                  url: "/home/send_msg",
                  success: function(){
                      $("#chat_nickname").val('');
                      $("#chat_nickname").focus();
                      $("#chat_content").val('');
                      $("#chat_content").focus();
                  }
                  });
              });
          })
      </script>
                        
                        
                    </div>
                </div>
            </div>
        </div>

    
    </section>




<!-- =========================
     START FEATURES
============================== -->
    <section id="FEATURES" class="features page">
      <div class="inner_about_area">
            <div class="container">
                <div class="row">
                  <!-- TITLE -->
                        <div class="inner_about_title">
                            <h2 style="color:white;">축제 LineUp<br>5.19(목)</h2>
                        </div>
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom:10px;">
                        <!-- PHONE -->
                            <img src="<%= asset_path 'LU1.jpg' %>" style="height:80%; width:80%">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- HEADING DESCRIPTION -->
                                <h3 style="color:white">데이브레이크</h3>
                                <p style="color:white">2016.05.19(THU), 21:00</p>
                                <iframe class="youtube" src="https://www.youtube.com/embed/h9sI397ObUk" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- END SINGLE DESC -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s" style="text-align:right; padding-right:80px; padding-left:0px">
                                <!-- HEADING DESCRIPTION -->
                                <h3 style="color:white">크러쉬</h3>
                                <p style="color:white">2016.05.19(THU), 21:50</p>
                                <iframe class="youtube" src="https://www.youtube.com/embed/TcytstV1_XE" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- END SINGLE DESC -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom:10px;">
                        <!-- PHONE -->
                            <img src="<%= asset_path 'LU2.jpg' %>" style="height:80%; width:80%">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                  <!-- TITLE -->
                        <div class="inner_about_title">
                            <h2 style="color:white;">축제 LineUp<br>5.20(금)</h2>
                        </div>
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom:10px;">
                        <!-- PHONE -->
                            <img src="<%= asset_path 'LU3.jpg' %>" style="height:80%; width:80%">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- HEADING DESCRIPTION -->
                                <h3 style="color:white">어반자카파</h3>
                                <p style="color:white">2016.05.20(FRI), 20:40</p>
                                <iframe class="youtube" src="https://www.youtube.com/embed/VapvGNv8lcw" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- END SINGLE DESC -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s" style="text-align:right; padding-right:80px; padding-left:0px">
                                <!-- HEADING DESCRIPTION -->
                                <h3 style="color:white">레드벨벳</h3>
                                <p style="color:white">2016.05.20(FRI), 21:30</p>
                                <iframe class="youtube" src="https://www.youtube.com/embed/XGdbaEDVWp0" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- END SINGLE DESC -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom:10px;">
                        <!-- PHONE -->
                            <img src="<%= asset_path 'LU4.jpg' %>" style="height:80%; width:80%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FEATURES SECTION -->
    
        
    <!-- =========================
     START CONTCT FORM AREA
============================== -->
    <section class="contact page" id="CONTACT">
        
        <div class="container">
            <div class="row" id="no1">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                        <h2><b>지도</b></h2>
                        <p>주점이름을 클릭해보세요.</p>
                    </div>
                    <!-- END FEATURES SECTION TITLE -->
                </div>
            </div>
        </div>
        
        <div class="container">
          <div class="row" id="no1">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s" style="padding-top:0px; padding-bottom:-50px">
                      
                      <p>
                          <button class="do_it" data-label="향학로로" onclick="setCenter()">향학로로</button>
                          <button class="do_it" data-label="과기대 운동장으로" onclick="panTo()">과기대 운동장으로</button>
                      </p>
                      
                      <p><em>지도를 클릭해주세요!</em></p> 
                      <p id="result"></p>
                 
                      <p>
                          <button class="do_it" data-label="마커 감추기" onclick="hideMarkers()">마커 감추기</button>
                          <button class="do_it" data-label="마커 보이기" onclick="showMarkers()">마커 보이기</button>
                      </p> 
                      <p>클릭한 위치에 마커가 표시됩니다!</p>
                    </div>
                      <!-- END FEATURES SECTION TITLE -->
                  </div>
            </div>
           </div>
           
          <div class="row" id="no1">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                        <div id="map"></div>
                    </div>
                      <!-- END FEATURES SECTION TITLE -->
                </div>
          </div>
    </section>
    <!-- END DOWNLOAD -->
    
<!-- =========================
     Start APPS SCREEN SECTION
============================== -->
    <section class="apps_screen page" id="SCREENS">
        <div class="container">
            <div class="row" id="no1">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                        <h2 style="font-size:40px;"><b>주점</b></h2>
                        <p>클릭하시면 상세한 정보를 볼 수 있어요!</p>
                    </div>
                    <!-- END FEATURES SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="feature_inner">
            <div class="container">
                <div class="row" id="no2">
                  <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                          <!-- FEATURES SECTION TITLE -->
                          <div class="section_title wow fadeIn" data-wow-duration="1s" style="padding-top:0px">
                              <h2><b>기술경영융합대학</b></h2>
                          </div>
                          <!-- END FEATURES SECTION TITLE -->
                      </div>
                  </div>
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3> <a href="home/gisol">MSDE<br><span style="color:red">원샷해적</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3> <a href="home/gisol">ITM<br><span style="color:red">꽃보다주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3> <a href="home/gisol">산업공학과<br><span style="color:red">웰컴투산공주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <a href="home/gisol"><img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'TM.jpg' %>" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/gisol">경영<br><span>\</span><span style="color:blue">어릔이대공원</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/gisol">GTM<br><span>\</span><span style="color:blue">경성타임즈</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                    </div>
                </div>
                <hr style="border-top:1px solid orange">
                
                <div class="row" id="no3">
                  <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                          <!-- FEATURES SECTION TITLE -->
                          <div class="section_title wow fadeIn" data-wow-duration="1s" style="padding-top:0px">
                              <h2><b>정보통신대학</b></h2>
                          </div>
                          <!-- END FEATURES SECTION TITLE -->
                      </div>
                  </div>
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/jeongbo">전기정보공학과<br><span style="color:red">전정나이트</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/jeongbo">전자IT공학과<br><span style="color:red">꼬마들이 술 타요</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        
                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <a href="home/jeongbo">
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'JT.jpg' %>" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        
                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/jeongbo">컴퓨터공학과<br><span>\</span><span style="color:blue">공능 콤-퓨타</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                    </div>
                </div>
                <hr style="border-top:1px solid orange">

                <div class="row" id="no4">
                  <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                          <!-- FEATURES SECTION TITLE -->
                          <div class="section_title wow fadeIn" data-wow-duration="1s" style="padding-top:0px">
                              <h2><b>에너지바이오대학</b></h2>
                          </div>
                          <!-- END FEATURES SECTION TITLE -->
                      </div>
                  </div>
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/energybio">정밀화학과<br><span style="color:red">동물의 왕국</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/energybio">화공생명공학과<br><span style="color:red">술기로운 생활</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/energybio">환경공학과<br><span style="color:red">어른이대공원</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <a href="home/energybio">
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'EB.jpg' %>" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/energybio">식품공학과<br><span>\</span><span style="color:blue">식공사우나</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/energybio">스포츠과학과<br><span>\</span><span style="color:blue">닭치고스과</span> </a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/energybio">안경광학과<br><span>\</span><span style="color:blue">가면무도회</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                    </div>
                </div>
                <hr style="border-top:1px solid orange">
                
                <div class="row" id="no5">
                  <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                          <!-- FEATURES SECTION TITLE -->
                          <div class="section_title wow fadeIn" data-wow-duration="1s" style="padding-top:0px">
                              <h2><b>조형대학</b></h2>
                          </div>
                          <!-- END FEATURES SECTION TITLE -->
                      </div>
                  </div>
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/design">디자인학과<br><span style="color:red">디학주점</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/design">도자문화학과<br><span style="color:red">도:틸다</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <a href="home/design">
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'JH.jpg' %>" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/design">금속공예학과<br><span>\</span><span style="color:blue">섹시할로윈</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/design">조형예술학과<br><span>\</span><span style="color:blue">조예디스코</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                    </div>
                </div>
                <hr style="border-top:1px solid orange">
                
                <div class="row" id="no6">
                  <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                          <!-- FEATURES SECTION TITLE -->
                          <div class="section_title wow fadeIn" data-wow-duration="1s" style="padding-top:0px">
                              <h2><b>인문사회대학</b></h2>
                          </div>
                          <!-- END FEATURES SECTION TITLE -->
                      </div>
                  </div>
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/inmon">행정학과<br><span style="color:red">코카꽐라</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/inmon">영어영문학과<br><span style="color:red">???</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <a href="home/inmon">
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'IS.jpg' %>" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/inmon">문예창작학과<br><span>\</span><span style="color:blue">칵테일 실험실</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                </div>
                <hr style="border-top:1px solid orange">
                
                <div class="row" id="no7">
                  <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                          <!-- FEATURES SECTION TITLE -->
                          <div class="section_title wow fadeIn" data-wow-duration="1s" style="padding-top:0px">
                              <h2><b>공과대학</b></h2>
                          </div>
                          <!-- END FEATURES SECTION TITLE -->
                      </div>
                  </div>
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/gongdae">기계시스템디자인공학과<br><span style="color:red">Summer Gang Vacance</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/gongdae">기계자동차공학과<br><span style="color:red">응답하라 2016</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/gongdae">안전공학과<br><span style="color:red">미니언주</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/gongdae">신소재공학과<br><span style="color:red">대추나무 이슬걸렸네</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <a href="home/gongdae">
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'GD.jpg' %>" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/gongdae">건설시스템공학과<br><span>\</span><span style="color:blue">???</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/gongdae">건축공학과<br><span>\</span><span style="color:blue">GS25시 공릉탕</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="home/gongdae">건축학과<br><span>\</span><span style="color:blue">주모를 찾아서</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                    </div>
                </div>
                <hr style="border-top:1px solid orange">
                
                
                    </div>
                </div>
            </div>
        </div>
      </section>


    <!-- ENS APPS SCREEN -->


<!-- =========================
     FOOTER 
============================== -->

    <section class="copyright">
        <h2></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copy_right_text" style="width:100%">
                    <!-- COPYRIGHT TEXT -->
                        <p>Copyright &copy; 멋쟁이사자처럼 서울과학기술대학교<br> With 2016 <a href="">Bent</a> <span>By </span><a href="http://designscrazed.org/">Designscrazed</a></p>
                    </div>
                    <div class="copy_right_text" style="width:100%">
                    <!-- COPYRIGHT TEXT -->
                        <p>Developed by 손정기 조완호 박주환 윤현진</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="scroll_top">
                        <a href="#HOME"><img src="<%= asset_path 'homeicon.png' %>"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER -->
    
    
<!-- =========================
     Map Script 
============================== -->    
    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=699da0cadc95ef6d1f9eeb5118dc01fb"></script>

        <script>
        
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new daum.maps.LatLng( 37.629261240374944, 127.07848397463181 ), // 지도의 중심좌표
                level: 2 // 지도의 확대 레벨
            };
        
        var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        
                
            function setCenter() {            
                // 이동할 위도 경도 위치를 생성합니다 
                var moveLatLon = new daum.maps.LatLng(37.63206866899052, 127.0771840986153);
                
                // 지도 중심을 이동 시킵니다
                map.setCenter(moveLatLon);
            }
            
            function panTo() {
                // 이동할 위도 경도 위치를 생성합니다 
                var moveLatLon = new daum.maps.LatLng(37.629261240374944, 127.07848397463181);
                
                // 지도 중심을 부드럽게 이동시킵니다
                // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
                map.panTo(moveLatLon);            
            }        
        
            // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
            var mapTypeControl = new daum.maps.MapTypeControl();
            
            // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
            // daum.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
            map.addControl(mapTypeControl, daum.maps.ControlPosition.TOPRIGHT);
            
            // 지도 확장 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
            var zoomControl = new daum.maps.ZoomControl();
            map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT);
            
            // 지도에 교통정보를 표시하도록 지도타입을 추가합니다
            map.addOverlayMapTypeId(daum.maps.MapTypeId.TRAFFIC);    
            
            // 아래 코드는 위에서 추가한 교통정보 지도타입을 제거합니다
            // map.removeOverlayMapTypeId(daum.maps.MapTypeId.TRAFFIC);    
            
            // 지도에 로드뷰 정보가 있는 도로를 표시하도록 지도타입을 추가합니다
            //map.addOverlayMapTypeId(daum.maps.MapTypeId.ROADVIEW);    
            
            // 아래 코드는 위에서 추가한 로드뷰 도로 정보 지도타입을 제거합니다
            map.removeOverlayMapTypeId(daum.maps.MapTypeId.ROADVIEW);    
            
            
            
            
            
            
            // 지도를 클릭했을때 클릭한 위치에 마커를 추가하도록 지도에 클릭이벤트를 등록합니다
            daum.maps.event.addListener(map, 'click', function(mouseEvent) {        
                // 클릭한 위치에 마커를 표시합니다 
                addMarker(mouseEvent.latLng);             
           
            
            
            
                // 클릭한 위도, 경도 정보를 가져옵니다 
                var latlng = mouseEvent.latLng;
                
                var message = '클릭한 위치의 위도와 경도는는 ' + latlng.getLat() + ', ';
                message +=  latlng.getLng() + ' 입니다';
                
                var resultDiv = document.getElementById('result'); 
                resultDiv.innerHTML = message;
                
            });
            
            
            
            // 지도에 표시된 마커 객체를 가지고 있을 배열입니다
            var markers = [];
            
           
            // 마커를 생성하고 지도위에 표시하는 함수입니다
            function addMarker(position) {
                
                // 마커를 생성합니다
                var marker = new daum.maps.Marker({
                    position: position
                });
            
                // 마커가 지도 위에 표시되도록 설정합니다
                marker.setMap(map);
                
                // 생성된 마커를 배열에 추가합니다
                markers.push(marker);
            }
            
            // 배열에 추가된 마커들을 지도에 표시하거나 삭제하는 함수입니다
            function setMarkers(map) {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(map);
                }            
            }
            
            // "마커 보이기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에 표시하는 함수입니다
            function showMarkers() {
                setMarkers(map)    
            }
            
            // "마커 감추기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에서 삭제하는 함수입니다
            function hideMarkers() {
                setMarkers(null);    
            }
            
           
           
        </script>
        
        <script>
                    
          var loading = function(e) {
            e.preventDefault();
            e.stopPropagation();
            e.target.classList.add('loading');
            e.target.setAttribute('disabled','disabled');
            setTimeout(function(){
              e.target.classList.remove('loading');
              e.target.removeAttribute('disabled');
            },1500);
          };
          
          var btns = document.querySelectorAll('button');
          for (var i=btns.length-1;i>=0;i--) {
            btns[i].addEventListener('click',loading);
          }

        </script>