<<<<<<< HEAD
    <!-- PRELOADER --> <!--로딩 제끼자
    <div class="spn_hol">
=======
    <!-- PRELOADER -->
    <!-- <div class="spn_hol">
>>>>>>> 06ed73f7c1f24ba12b2c59fca247011f517aba6d
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
<<<<<<< HEAD
    </div>
       -->
=======
    </div> -->

>>>>>>> 06ed73f7c1f24ba12b2c59fca247011f517aba6d
 <!-- END PRELOADER -->

 <!-- =========================
     START ABOUT US SECTION
============================== -->
    <section class="header parallax home-parallax page" id="HOME">
        <h2></h2>
        <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="<%= asset_path 'stl.png' %>" alt="Logo">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- NAV -->
                            <li><a href="#HOME">HOME</a> </li>
                            <li><a href="#ABOUT">ABOUT </a> </li>
                            <li><a href="#DOWNLOAD">Live PR</a></li>
                            <li><a href="#FEATURES">Line Up</a></li>
                            <li><a href="#CONTACT">Live 지도 </a> </li>
                            <li><a href="#SCREENS">주점</a> </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li><a href="https://daedong2-jeongki-son.c9users.io/home/pub">Detail한 주점 </a> </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container- -->
            </nav>

            <div class="container home-container">
                
                <div class="row">
                        <div class="home_text" style="text-align:center">
                            <!-- TITLE AND DESC -->
                            <!-- BUTTON -->
                                <a class="tuor btn wow fadeInRight" href="#ABOUT" style="font-size:50px"><b>아래로 고고~ </b></a>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END HEADER SECTION -->




 <!-- =========================
     START ABOUT US SECTION
============================== -->


    <section class="about page" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- ABOUT US SECTION TITLE-->
                    <div class="section_title">
                        <h2><b>서울과학기술대학교 2016 <span style="color:#d06a5c">어의 대동제</span></b></h2>
                        <p>이번 대동제 컨셉은 바로👉<b style="color:#d06a5c"> '과! 기! 대! 공! 원!'</b> 👈<br>
                        '과기대공원' 이라는 컨셉에 맞춰 동행은 🙆이벤트와 놀이기구🙆 를 준비했어요 !<br>
                        많이 많이 참여해주실거죠~?~? 기대합니다~~~😉<br>
                        동행이 학우여러분들의 기대를 충족시키기 위해 정~말 열심히 준비했으니 이제 즐길 준비만 해주신다면 넘~나 좋은것!<br>
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="inner_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom:10px;">
                        <!-- PHONE -->
                            <img src="<%= asset_path 'waterslide.jpg' %>" style="height:80%; width:80%">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- TITLE -->
                        <div class="inner_about_title">
                            <h2>오직 서울과기대에서만!!<br>놀이기구 5.18(수)~5.19(목)</h2>
                        </div>
                        <div class="inner_about_desc">
                          <div class="row">
                            <div class="col-md-6 col-xs-6">
                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- ICON -->
                                <div><i class="pe-7s-timer"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>젤리백</h3>
                                <p>시간: 12~14시, 16~18시<br>
                                    장소: 수연관옆<br>
                                    비용: 1회당 1,000원</p>
                            </div>
                            <!-- END SINGLE DESC -->


                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                                <!-- ICON -->
                                <div><i class="pe-7s-target"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>대형슬라이드</h3>
                                <p>시간: 12~14시, 16~18시<br>
                                    장소: 붕어방 잔디밭<br>
                                    비용: 1회당 1,000원</p>
                            </div>
                            <!-- END SINGLE DESC -->


                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                                <!-- ICON -->
                                <div><i class="pe-7s-stopwatch"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>방방</h3>
                                <p>시간: 12~14시, 16~18시<br>
                                    장소: 1학생회관 잔디밭<br>
                                    비용: 무료</p>
                            </div>
                            </div>
                            
                            <div class="col-md-6 col-xs-6">
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- ICON -->
                                <div><i class="pe-7s-stopwatch"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>로데오</h3>
                                <p>시간: 12~14시, 16~18시<br>
                                    장소: 1학생회관 잔디밭<br>
                                    비용: 1회당 1,000원</p>
                            </div>
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                                <!-- ICON -->
                                <div><i class="pe-7s-stopwatch"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>스파이더맨</h3>
                                <p>시간: 12~14시, 16~18시<br>
                                    장소: 1학생회관 잔디밭<br>
                                    비용: 무료</p>
                            </div>
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                                <!-- ICON -->
                                <div><i class="pe-7s-stopwatch"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>오락기</h3>
                                <p>시간: 12~14시, 16~18시<br>
                                    장소: 1학생회관 벽화앞<br>
                                    비용: 1회당 100원</p>
                            </div>
                            <!-- END SINGLE DESC -->
                            </div>
                          </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="video_area">
            <div class="container">
                <div class="row">
                    <div class="wow fadeInRightBig">
                         <!-- VIDEO -->
                        <div class="video">
                        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fseoultech.GSA%2Fvideos%2F966181553477139%2F&width=360&show_text=false&height=202&appId" height="650" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us -->





 <!-- =========================
     START TESTIMONIAL SECTION
============================== -->

    <section id="TESTIMONIAL" class="testimonial parallax">
        <div class="section_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceInDown">
                        <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="1"></li>
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img src="<%= asset_path 'jh.png' %>" alt="">
                                                <div class="testimonial_caption">
                                                   <!-- DESCRIPTION -->  
                                                    <h2>김종호</h2>
                                                    <h4><span>총장님,</span> 서울과학기술대학교</h4>
                                                    <p>인사말인사말인사말인사말인사말인사말인사말인사말인사말</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                 <!-- IMAGE -->
                                                <img src="<%= asset_path 'dh.jpg' %>" alt="">
                                                <div class="testimonial_caption">
                                                <!-- DESCRIPTION --> 
                                                    <h2>동행동행</h2>
                                                    <h4><span>학생회장,</span> 서울과학기술대학교 동행</h4>
                                                    <p>인사말인사말인사말인사말인사말인사말인사말인사말인사말인사말</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img src="<%= asset_path 'dh.jpg' %>" alt="">
                                                <div class="testimonial_caption">
                                                <!-- DESCRIPTION --> 
                                                    <h2>동행동행2</h2>
                                                    <h4><span>부학생회장,</span> 서울과학기술대학교 동행</h4>
                                                    <p>인사말3인사말3인사말3인사말3인사말3인사말3인사말3</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- END TESTIMONIAL SECTION -->

    <section class="download page" id="DOWNLOAD">
        
    
        <div class="container">
            <div class="row" row=100>
                <div class="col-md-8 col-md-offset-2">
                    <div class="download_screen text-center wow fadeInUp" data-wow-duration="1s">
                    
                    
                         <h2><b>Live PR</b></h2>
                        <p> 실시간 홍보 </p>
                        <br><br>
                        <h1>REAL-TIME CHAT</h1>


                        <franeset>

                        <div id="chat_list"></div>
                        <% @posts.each do |p| %>
                            <p> <%= p.nickname %>
                            <p> <%= p.content %></p>
                        <% end %>
                        
                        </franeset>    
                        
                        
                        <textarea id="chat_nickname"></textarea>
                        <textarea id="chat_content"></textarea>
                        <a href="#" id="submit_msg">홍보하기</a>
                        
                        
                        
                        
                        
                      
                        <script>
          $(function() {
               var pusher = new Pusher('1027adb1b8bdf7461125', {
            encrypted: true
          });
          var channel = pusher.subscribe('onlyone');
          channel.bind('new_message', function(data) {
            var txt = data.message;
                      $("#chat_list").append("<p>"+txt+"</p>");
              });
          
              $("#submit_msg").click(function(){
              $.ajax({
                  data: {nickname: $("#chat_nickname").val()},
                  data: {content: $("#chat_content").val()},
                  url: "/home/send_msg",
                  success: function(){
                      $("#chat_nickname").val('');
                      $("#chat_nickname").focus();
                      $("#chat_content").val('');
                      $("#chat_content").focus();
                  }
                  });
              });
          })
      </script>
                        
                        
                    </div>
                </div>
            </div>
        </div>

    
    </section>




<!-- =========================
     START FEATURES
============================== -->
    <section id="FEATURES" class="features page">
      <div class="inner_about_area">
            <div class="container">
                <div class="row">
                  <!-- TITLE -->
                        <div class="inner_about_title">
                            <h2 style="color:white;">축제 LineUp<br>5.19(목)</h2>
                        </div>
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom:10px;">
                        <!-- PHONE -->
                            <img src="<%= asset_path 'LU1.jpg' %>" style="height:80%; width:80%">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- HEADING DESCRIPTION -->
                                <h3 style="color:white">데이브레이크</h3>
                                <p style="color:white">2016.05.19(THU), 21:00</p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/h9sI397ObUk" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- END SINGLE DESC -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s" style="text-align:right; padding-right:80px; padding-left:0px">
                                <!-- HEADING DESCRIPTION -->
                                <h3 style="color:white">크러쉬</h3>
                                <p style="color:white">2016.05.19(THU), 21:50</p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/TcytstV1_XE" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- END SINGLE DESC -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom:10px;">
                        <!-- PHONE -->
                            <img src="<%= asset_path 'LU2.jpg' %>" style="height:80%; width:80%">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                  <!-- TITLE -->
                        <div class="inner_about_title">
                            <h2 style="color:white;">축제 LineUp<br>5.20(금)</h2>
                        </div>
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom:10px;">
                        <!-- PHONE -->
                            <img src="<%= asset_path 'LU3.jpg' %>" style="height:80%; width:80%">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- HEADING DESCRIPTION -->
                                <h3 style="color:white">어반자카파</h3>
                                <p style="color:white">2016.05.20(FRI), 20:40</p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/VapvGNv8lcw" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- END SINGLE DESC -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s" style="text-align:right; padding-right:80px; padding-left:0px">
                                <!-- HEADING DESCRIPTION -->
                                <h3 style="color:white">레드벨벳</h3>
                                <p style="color:white">2016.05.20(FRI), 21:30</p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/XGdbaEDVWp0" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- END SINGLE DESC -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom:10px;">
                        <!-- PHONE -->
                            <img src="<%= asset_path 'LU4.jpg' %>" style="height:80%; width:80%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FEATURES SECTION -->
    
        
    <!-- =========================
     START CONTCT FORM AREA
============================== -->
    <section class="contact page" id="CONTACT">
        
        <div class="container">
            <div class="row" id="no1">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                        <h2><b>지도</b></h2>
                        <p>주점이름을 클릭해보세요.</p>
                    </div>
                    <!-- END FEATURES SECTION TITLE -->
                </div>
            </div>
        </div>
        
        <div class="container">
          <div class="row" id="no1">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                      <p>
                        <button onclick="resizeMap()">모바일크기</button> 
                        <button onclick="resizeMap2()">피씨크기</button> 
                      </p>
                    
                      
                      <p>
                          <button onclick="setCenter()">향학로로</button> 
                          <button onclick="panTo()">과기대 운동장으로</button> 
                      </p>
                      
                      <p><em>지도를 클릭해주세요!</em></p> 
                      <p id="result"></p>
                 
                      <p>
                          <button onclick="hideMarkers()">마커 감추기</button>
                          <button onclick="showMarkers()">마커 보이기</button>
                      </p> 
                      <p>클릭한 위치에 마커가 표시됩니다!</p>
                    </div>
                      <!-- END FEATURES SECTION TITLE -->
                  </div>
            </div>
           </div>
           
          <div class="row" id="no1">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                        <div id="map"></div>
                    </div>
                      <!-- END FEATURES SECTION TITLE -->
                </div>
          </div>
    </section>
    <!-- END DOWNLOAD -->
    
<!-- =========================
     Start APPS SCREEN SECTION
============================== -->
    <section class="apps_screen page" id="SCREENS">
        <div class="container">
            <div class="row" id="no1">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                        <h2><b>주점</b></h2>
                        <p>클릭하시면 상세한 정보를 볼 수 있어요!</p>
                    </div>
                    <!-- END FEATURES SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="feature_inner">
            <div class="container">
                <div class="row" id="no2">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">MSDE<br><span style="color:red">원샷해적</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">ITM<br><span style="color:red">꽃보다주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">산업공학과<br><span style="color:red">웰컴투산공주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'somac.jpg' %>" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">경영<br><span>\</span><span style="color:blue">어릔이대공원</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">GTM<br><span>\</span><span style="color:blue">경성타임즈</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                    </div>
                </div>
                <hr style="border-top:1px solid orange">
                
                <div class="row" id="no3">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">전기정보공학과<br><span style="color:red">전정나이트</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">전자IT공학과<br><span style="color:red">꼬마들이 술 타요</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        
                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'somac.jpg' %>" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        
                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">컴퓨터공학과<br><span>\</span><span style="color:blue">공능 콤-퓨타</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                    </div>
                </div>
                <hr style="border-top:1px solid orange">

                <div class="row" id="no4">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">정밀화학과<br><span style="color:red">???</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">화공생명공학과<br><span style="color:red">술기로운 생활</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">환경공학과<br><span style="color:red">어른이대공원</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'somac.jpg' %>" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">식품공학과<br><span>\</span><span style="color:blue">???</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">스포츠과학과<br><span>\</span><span style="color:blue">닭치고스과</span> </a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">안경광학과<br><span>\</span><span style="color:blue">가면무도회</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                    </div>
                </div>
                <hr style="border-top:1px solid orange">
                
                <div class="row" id="no5">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">디자인학과<br><span style="color:red">디학주점</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">도자문화학과<br><span style="color:red">도:틸다</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'somac.jpg' %>" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">금속공예학과<br><span>\</span><span style="color:blue">꽃보다주점</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">조형예술학과<br><span>\</span><span style="color:blue">섹시할로윈</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                    </div>
                </div>
                <hr style="border-top:1px solid orange">
                
                <div class="row" id="no6">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">행정학과<br><span style="color:red">코카꽐라</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">영어영문학과<br><span style="color:red">꽃보다주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'somac.jpg' %>" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">문예창작학과<br><span>\</span><span style="color:blue">칵테일 실험실</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                </div>
                <hr style="border-top:1px solid orange">
                
                <div class="row" id="no7">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">기계시스템디자인공학과<br><span style="color:red">Summer Gang Vacance</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">기계자동차공학과<br><span style="color:red">응답하라 2016</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">안전공학과<br><span style="color:red">미니언주</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">신소재공학과<br><span style="color:red">웰컴투산공주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'somac.jpg' %>" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">건설시스템공학과<br><span>\</span><span style="color:blue">꽃보다주점</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">건축공학과<br><span>\</span><span style="color:blue">GS25시 공릉탕</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">건축학과<br><span>\</span><span style="color:blue">꽃보다주점</span></a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                    </div>
                </div>
                <hr style="border-top:1px solid orange">
                
                
                    </div>
                </div>
            </div>
        </div>
      </section>


    <!-- ENS APPS SCREEN -->


<!-- =========================
     FOOTER 
============================== -->

    <section class="copyright">
        <h2></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copy_right_text" style="width:100%">
                    <!-- COPYRIGHT TEXT -->
                        <p>Copyright &copy; 멋쟁이사자처럼 서울과학기술대학교<br> With 2016 <a href="">Bent</a> <span>By </span><a href="http://designscrazed.org/">Designscrazed</a></p>
                    </div>
                    <div class="copy_right_text" style="width:100%">
                    <!-- COPYRIGHT TEXT -->
                        <p>Developed by 손정기 조완호 박주환 윤현진</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="scroll_top">
                        <a href="#HOME"><i class="fa fa-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER -->
    
    
<!-- =========================
     Map Script 
============================== -->    
    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=699da0cadc95ef6d1f9eeb5118dc01fb"></script>

        <script>
        
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new daum.maps.LatLng( 37.629261240374944, 127.07848397463181 ), // 지도의 중심좌표
                level: 2 // 지도의 확대 레벨
            };
        
        var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        
                
        function resizeMap() {
            var mapContainer = document.getElementById('map');
            mapContainer.style.width = '412px';
            mapContainer.style.height = '400px'; 
        }
        
        function resizeMap2() {
            var mapContainer = document.getElementById('map');
            mapContainer.style.width = '1400px';
            mapContainer.style.height = '1000px'; 
        }
        
        function relayout() {    
            
            // 지도를 표시하는 div 크기를 변경한 이후 지도가 정상적으로 표출되지 않을 수도 있습니다
            // 크기를 변경한 이후에는 반드시  map.relayout 함수를 호출해야 합니다 
            // window의 resize 이벤트에 의한 크기변경은 map.relayout 함수가 자동으로 호출됩니다
            map.relayout();
        }
   
   
            
          
            function setCenter() {            
                // 이동할 위도 경도 위치를 생성합니다 
                var moveLatLon = new daum.maps.LatLng(37.63206866899052, 127.0771840986153);
                
                // 지도 중심을 이동 시킵니다
                map.setCenter(moveLatLon);
            }
            
            function panTo() {
                // 이동할 위도 경도 위치를 생성합니다 
                var moveLatLon = new daum.maps.LatLng(37.629261240374944, 127.07848397463181);
                
                // 지도 중심을 부드럽게 이동시킵니다
                // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
                map.panTo(moveLatLon);            
            }        
        
            // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
            var mapTypeControl = new daum.maps.MapTypeControl();
            
            // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
            // daum.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
            map.addControl(mapTypeControl, daum.maps.ControlPosition.TOPRIGHT);
            
            // 지도 확장 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
            var zoomControl = new daum.maps.ZoomControl();
            map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT);
            
            // 지도에 교통정보를 표시하도록 지도타입을 추가합니다
            map.addOverlayMapTypeId(daum.maps.MapTypeId.TRAFFIC);    
            
            // 아래 코드는 위에서 추가한 교통정보 지도타입을 제거합니다
            // map.removeOverlayMapTypeId(daum.maps.MapTypeId.TRAFFIC);    
            
            // 지도에 로드뷰 정보가 있는 도로를 표시하도록 지도타입을 추가합니다
            //map.addOverlayMapTypeId(daum.maps.MapTypeId.ROADVIEW);    
            
            // 아래 코드는 위에서 추가한 로드뷰 도로 정보 지도타입을 제거합니다
            map.removeOverlayMapTypeId(daum.maps.MapTypeId.ROADVIEW);    
            
            
            
            
            
            
            // 지도를 클릭했을때 클릭한 위치에 마커를 추가하도록 지도에 클릭이벤트를 등록합니다
            daum.maps.event.addListener(map, 'click', function(mouseEvent) {        
                // 클릭한 위치에 마커를 표시합니다 
                addMarker(mouseEvent.latLng);             
           
            
            
            
                // 클릭한 위도, 경도 정보를 가져옵니다 
                var latlng = mouseEvent.latLng;
                
                var message = '클릭한 위치의 위도와 경도는는 ' + latlng.getLat() + ', ';
                message +=  latlng.getLng() + ' 입니다';
                
                var resultDiv = document.getElementById('result'); 
                resultDiv.innerHTML = message;
                
            });
            
            
            
            // 지도에 표시된 마커 객체를 가지고 있을 배열입니다
            var markers = [];
            
           
            // 마커를 생성하고 지도위에 표시하는 함수입니다
            function addMarker(position) {
                
                // 마커를 생성합니다
                var marker = new daum.maps.Marker({
                    position: position
                });
            
                // 마커가 지도 위에 표시되도록 설정합니다
                marker.setMap(map);
                
                // 생성된 마커를 배열에 추가합니다
                markers.push(marker);
            }
            
            // 배열에 추가된 마커들을 지도에 표시하거나 삭제하는 함수입니다
            function setMarkers(map) {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(map);
                }            
            }
            
            // "마커 보이기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에 표시하는 함수입니다
            function showMarkers() {
                setMarkers(map)    
            }
            
            // "마커 감추기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에서 삭제하는 함수입니다
            function hideMarkers() {
                setMarkers(null);    
            }
            
           
           
        </script>