    <!-- PRELOADER -->
    <!-- <div class="spn_hol">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div> -->

 <!-- END PRELOADER -->

 <!-- =========================
     START ABOUT US SECTION
============================== -->
    <section class="header parallax home-parallax page" id="HOME">
        <h2></h2>
        <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="<%= asset_path 'stl.png' %>" alt="Logo">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- NAV -->
                            <li><a href="#HOME">HOME</a> </li>
                            <li><a href="#ABOUT">ABOUT </a> </li>
                            <li><a href="#FEATURES">LineUp</a></li>
                            <li><a href="#SCREENS">주점</a> </li>
                            <li><a href="#DOWNLOAD">Live 지도 </a> </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li><a href="https://daedong2-jeongki-son.c9users.io/home/pub">Detail한 주점 </a> </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container- -->
            </nav>

            <div class="container home-container">
                
                <div class="row">
                        <div class="home_text" style="text-align:center">
                            <!-- TITLE AND DESC -->
                            <!-- BUTTON -->
                                <a class="tuor btn wow fadeInRight" href="#ABOUT" style="font-size:50px">Take a tour <i class="fa fa-angle-down"></i></a>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END HEADER SECTION -->




 <!-- =========================
     START ABOUT US SECTION
============================== -->


    <section class="about page" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- ABOUT US SECTION TITLE-->
                    <div class="section_title">
                        <h2><b>서울과학기술대학교 2016 <span style="color:#d06a5c">어의 대동제</span></b></h2>
                        <p>이번 대동제 컨셉은 바로👉<b style="color:#d06a5c"> '과! 기! 대! 공! 원!'</b> 👈<br>
                        '과기대공원' 이라는 컨셉에 맞춰 동행은 🙆이벤트와 놀이기구🙆 를 준비했어요 !<br>
                        많이 많이 참여해주실거죠~?~? 기대합니다~~~😉<br>
                        동행이 학우여러분들의 기대를 충족시키기 위해 정~말 열심히 준비했으니 이제 즐길 준비만 해주신다면 넘~나 좋은것!<br>
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="inner_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom:10px;">
                        <!-- PHONE -->
                            <img src="<%= asset_path 'waterslide.jpg' %>" style="height:80%; width:80%">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- TITLE -->
                        <div class="inner_about_title">
                            <h2>오직 서울과기대에서만!!<br>놀이기구 5.18(수)~5.19(목)</h2>
                        </div>
                        <div class="inner_about_desc">
                          <div class="row">
                            <div class="col-md-6 col-xs-6">
                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- ICON -->
                                <div><i class="pe-7s-timer"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>젤리백</h3>
                                <p>시간: 12~14시, 16~18시<br>
                                    장소: 수연관옆<br>
                                    비용: 1회당 1,000원</p>
                            </div>
                            <!-- END SINGLE DESC -->


                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                                <!-- ICON -->
                                <div><i class="pe-7s-target"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>대형슬라이드</h3>
                                <p>시간: 12~14시, 16~18시<br>
                                    장소: 붕어방 잔디밭<br>
                                    비용: 1회당 1,000원</p>
                            </div>
                            <!-- END SINGLE DESC -->


                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                                <!-- ICON -->
                                <div><i class="pe-7s-stopwatch"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>방방</h3>
                                <p>시간: 12~14시, 16~18시<br>
                                    장소: 1학생회관 잔디밭<br>
                                    비용: 무료</p>
                            </div>
                            </div>
                            
                            <div class="col-md-6 col-xs-6">
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- ICON -->
                                <div><i class="pe-7s-stopwatch"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>로데오</h3>
                                <p>시간: 12~14시, 16~18시<br>
                                    장소: 1학생회관 잔디밭<br>
                                    비용: 1회당 1,000원</p>
                            </div>
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                                <!-- ICON -->
                                <div><i class="pe-7s-stopwatch"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>스파이더맨</h3>
                                <p>시간: 12~14시, 16~18시<br>
                                    장소: 1학생회관 잔디밭<br>
                                    비용: 무료</p>
                            </div>
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                                <!-- ICON -->
                                <div><i class="pe-7s-stopwatch"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>오락기</h3>
                                <p>시간: 12~14시, 16~18시<br>
                                    장소: 1학생회관 벽화앞<br>
                                    비용: 1회당 100원</p>
                            </div>
                            <!-- END SINGLE DESC -->
                            </div>
                          </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="video_area">
            <div class="container">
                <div class="row">
                    <div class="wow fadeInRightBig">
                         <!-- VIDEO -->
                        <div class="video">
                            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fseoultech.GSA%2Fvideos%2F966181553477139%2F&width=360&show_text=false&height=202&appId" height="650" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us -->





 <!-- =========================
     START TESTIMONIAL SECTION
============================== -->

    <section id="TESTIMONIAL" class="testimonial parallax">
        <div class="section_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceInDown">
                        <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="1"></li>
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img src="<%= asset_path 'jh.png' %>" alt="">
                                                <div class="testimonial_caption">
                                                   <!-- DESCRIPTION -->  
                                                    <h2>김종호</h2>
                                                    <h4><span>총장님,</span> 서울과학기술대학교</h4>
                                                    <p>인사말인사말인사말인사말인사말인사말인사말인사말인사말</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                 <!-- IMAGE -->
                                                <img src="<%= asset_path 'dh.jpg' %>" alt="">
                                                <div class="testimonial_caption">
                                                <!-- DESCRIPTION --> 
                                                    <h2>동행동행</h2>
                                                    <h4><span>학생회장,</span> 서울과학기술대학교 동행</h4>
                                                    <p>인사말인사말인사말인사말인사말인사말인사말인사말인사말인사말</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img src="<%= asset_path 'dh.jpg' %>" alt="">
                                                <div class="testimonial_caption">
                                                <!-- DESCRIPTION --> 
                                                    <h2>동행동행2</h2>
                                                    <h4><span>부학생회장,</span> 서울과학기술대학교 동행</h4>
                                                    <p>인사말3인사말3인사말3인사말3인사말3인사말3인사말3</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- END TESTIMONIAL SECTION -->



<!-- =========================
     START FEATURES
============================== -->
    <section id="FEATURES" class="features page">
      <div class="inner_about_area">
            <div class="container">
                <div class="row">
                  <!-- TITLE -->
                        <div class="inner_about_title">
                            <h2 style="color:white;">축제 LineUp<br>5.19(목)</h2>
                        </div>
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom:10px;">
                        <!-- PHONE -->
                            <img src="<%= asset_path 'LU1.jpg' %>" style="height:80%; width:80%">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- HEADING DESCRIPTION -->
                                <h3 style="color:white">데이브레이크</h3>
                                <p style="color:white">2016.05.19(THU), 21:00</p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/h9sI397ObUk" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- END SINGLE DESC -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s" style="text-align:right; padding-right:80px; padding-left:0px">
                                <!-- HEADING DESCRIPTION -->
                                <h3 style="color:white">크러쉬</h3>
                                <p style="color:white">2016.05.19(THU), 21:50</p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/TcytstV1_XE" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- END SINGLE DESC -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom:10px;">
                        <!-- PHONE -->
                            <img src="<%= asset_path 'LU2.jpg' %>" style="height:80%; width:80%">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                  <!-- TITLE -->
                        <div class="inner_about_title">
                            <h2 style="color:white;">축제 LineUp<br>5.20(금)</h2>
                        </div>
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom:10px;">
                        <!-- PHONE -->
                            <img src="<%= asset_path 'LU3.jpg' %>" style="height:80%; width:80%">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- HEADING DESCRIPTION -->
                                <h3 style="color:white">어반자카파</h3>
                                <p style="color:white">2016.05.20(FRI), 20:40</p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/VapvGNv8lcw" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- END SINGLE DESC -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s" style="text-align:right; padding-right:80px; padding-left:0px">
                                <!-- HEADING DESCRIPTION -->
                                <h3 style="color:white">레드벨벳</h3>
                                <p style="color:white">2016.05.20(FRI), 21:30</p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/XGdbaEDVWp0" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- END SINGLE DESC -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom:10px;">
                        <!-- PHONE -->
                            <img src="<%= asset_path 'LU4.jpg' %>" style="height:80%; width:80%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FEATURES SECTION -->
    
    
<!-- =========================
     Start APPS SCREEN SECTION
============================== -->
    <section class="apps_screen page" id="SCREENS">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                        <h2><b>주점</b></h2>
                        <p>클릭하시면 상세한 정보를 볼 수 있어요!</p>
                    </div>
                    <!-- END FEATURES SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="feature_inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">MSDE <span style="color:red">원샷해적</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">ITM <span style="color:red">꽃보다주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">산업공학과 <span style="color:red">웰컴투산공주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'somac.jpg' %>" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>\</span><a href="#"><span style="color:blue">꽃보다주점</span> 경영</a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>\</span><a href="#"><span style="color:blue">꽃보다주점</span> GTM</a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                    </div>
                </div>
                <hr style="border-top:1px solid orange">
                
                <div class="row">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">전기정보공학과 <span style="color:red">원샷해적</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">전자IT공학과 <span style="color:red">꽃보다주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        
                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'somac.jpg' %>" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        
                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>\</span><a href="#"><span style="color:blue">꽃보다주점</span> 컴퓨터공학과</a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                    </div>
                </div>
                <hr style="border-top:1px solid orange">

                <div class="row">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">정밀화학과 <span style="color:red">원샷해적</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">화공생명공학과 <span style="color:red">꽃보다주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">환경공학과 <span style="color:red">웰컴투산공주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'somac.jpg' %>" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>\</span><a href="#"><span style="color:blue">꽃보다주점</span> 식품공학과</a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>\</span><a href="#"><span style="color:blue">꽃보다주점</span> 스포츠과학과</a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>\</span><a href="#"><span style="color:blue">꽃보다주점</span> 안경광학과</a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                    </div>
                </div>
                <hr style="border-top:1px solid orange">
                
                <div class="row">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">디자인학과 <span style="color:red">원샷해적</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">도자문화학과 <span style="color:red">꽃보다주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'somac.jpg' %>" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>\</span><a href="#"><span style="color:blue">꽃보다주점</span> 금속공예학과</a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>\</span><a href="#"><span style="color:blue">꽃보다주점</span> 조형예술학과</a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                    </div>
                </div>
                <hr style="border-top:1px solid orange">
                
                <div class="row">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">행정학과 <span style="color:red">원샷해적</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">영어영문학과 <span style="color:red">꽃보다주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'somac.jpg' %>" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>\</span><a href="#"><span style="color:blue">꽃보다주점</span> 문예창작학과</a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                </div>
                <hr style="border-top:1px solid orange">
                
                <div class="row">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">기계시스템디자인공학과 <span style="color:red">원샷해적</span></a><span>/</span></h3>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">기계자동차공학과 <span style="color:red">꽃보다주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">안전공학과 <span style="color:red">웰컴투산공주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                        <!-- FEATURE -->
                        <div class="left_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><a href="#">신소재공학과 <span style="color:red">웰컴투산공주점</span></a><span>/</span></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="<%= asset_path 'somac.jpg' %>" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>\</span><a href="#"><span style="color:blue">꽃보다주점</span> 건설시스템공학과</a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>\</span><a href="#"><span style="color:blue">꽃보다주점</span> 건축공학과</a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                        <!-- FEATURE -->
                        <div class="right_single_feature">

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>\</span><a href="#"><span style="color:blue">꽃보다주점</span> 건축학과</a></h3>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        
                    </div>
                </div>
                <hr style="border-top:1px solid orange">
                
                
                    </div>
                </div>
            </div>
        </div>
      </section>


    <!-- ENS APPS SCREEN -->




<!-- =========================
     START DOWNLOAD NOW 
============================== -->
    <section class="download page" id="DOWNLOAD">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- DOWNLOAD NOW SECTION TITLE -->
                    <div class="section_title">
                        <h2>download now</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    </div>
                    <!--END DOWNLOAD NOW SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="download_screen text-center wow fadeInUp" data-wow-duration="1s">
                        <img src="images/download_screen.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="available_store">
            <div class="container  wow bounceInRight" data-wow-duration="1s">
                <div class="col-md-6">
                    <div class="available_title">
                        <h2>Available on</h2>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>

                <!-- DOWNLOADABLE STORE -->
                <div class="col-md-6">
                    <div class="row">
                        <a href="">
                            <div class="col-md-4 no_padding">
                                <div class="single_store">
                                    <i class="fa fa-apple"></i>
                                    <div class="store_inner">
                                        <h2>iOS</h2>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="col-md-4 no_padding">
                            <a href="">
                                <div class="single_store">
                                    <i class="fa fa-android"></i>
                                    <div class="store_inner">
                                        <h2>ANDROID</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 no_padding">
                            <a href="">
                                <div class="single_store last">
                                    <i class="fa fa-windows"></i>
                                    <div class="store_inner">
                                        <h2>WINDOWS</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END DOWNLOADABLE STORE -->
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- DOWNLOAD NOW SECTION TITLE -->
                    <div class="section_title">
                        <h2>download now</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    </div>
                    <!--END DOWNLOAD NOW SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="download_screen text-center wow fadeInUp" data-wow-duration="1s">
                        <img src="images/download_screen.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="available_store">
            <div class="container  wow bounceInRight" data-wow-duration="1s">
                <div class="col-md-6">
                    <div class="available_title">
                        <h2>Available on</h2>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>

                <!-- DOWNLOADABLE STORE -->
                <div class="col-md-6">
                    <div class="row">
                        <a href="">
                            <div class="col-md-4 no_padding">
                                <div class="single_store">
                                    <i class="fa fa-apple"></i>
                                    <div class="store_inner">
                                        <h2>iOS</h2>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="col-md-4 no_padding">
                            <a href="">
                                <div class="single_store">
                                    <i class="fa fa-android"></i>
                                    <div class="store_inner">
                                        <h2>ANDROID</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 no_padding">
                            <a href="">
                                <div class="single_store last">
                                    <i class="fa fa-windows"></i>
                                    <div class="store_inner">
                                        <h2>WINDOWS</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END DOWNLOADABLE STORE -->
            </div>
        </div>
    </section>
    <!-- END DOWNLOAD -->

<!-- =========================
     START CONTCT FORM AREA
============================== -->
    <section class="contact page" id="CONTACT">
        
    </section>

    <!-- END SUBSCRIPBE FORM -->


<!-- =========================
     FOOTER 
============================== -->

    <section class="copyright">
        <h2></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copy_right_text" style="width:100%">
                    <!-- COPYRIGHT TEXT -->
                        <p>Copyright &copy; 멋쟁이사자처럼 서울과학기술대학교<br> With 2016 <a href="">Bent</a> <span>By </span><a href="http://designscrazed.org/">Designscrazed</a></p>
                    </div>
                    <div class="copy_right_text" style="width:100%">
                    <!-- COPYRIGHT TEXT -->
                        <p>Developed by 손정기 조완호 박주환 윤현진</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="scroll_top">
                        <a href="#HOME"><i class="fa fa-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER -->